trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - '*'

jobs:
  - job: test
    displayName: "Run test checks"
    pool:
      name: Default
    variables:
      BASH_ENV: /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
      NIX_CONFIG: extra-experimental-features = nix-command flakes
    steps:
      - checkout: self

      - script: |
          nix build .#checks.x86_64-linux.aoc2025-test
        displayName: "Run nix flake check"

  - job: build
    displayName: "Build"
    dependsOn: test
    pool:
      name: Default
    variables:
      BASH_ENV: /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
      NIX_CONFIG: extra-experimental-features = nix-command flakes
    steps:
      - checkout: self

      - script: |
          nix build
        displayName: "Build project"
